* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 9rem;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 34rem;
    animation: clouds-animation 20s infinite linear;
}

@keyframes pipe-animation {
    from{
    right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }

}

footer{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer p{
    font-size: 20px;
}

button{
    background: rgb(35, 160, 35);
    color: white;
    height: 60px;
    width: 80px;
    align-items: center;
    border-radius: 10px;
}